<footer class="footer">
	<a
		href="https://rscf.ru/project/23-28-10069/"
		target="_blank"
		class="logo"
	>
		<img
			src="../../../assets/images/logo_rnf.svg"
			alt="Logo"
		/>
		<p class="text">
			Проект &#171;Прогнозирование социального самочувствия с целью оптимизации
			функционирования экосистемы городских цифровых сервисов
			Санкт-Петербурга&#187;
		</p>
	</a>
	<div class="social-icons">
		<a
			href="https://github.com/yuliazherebtsova"
			target="_blank"
			><img
				class="github-icon"
				src="../../../assets/images/github.png"
				alt="GitHub"
		/></a>
		<a href="mailto:chizhik@itmo.ru"
			><img
				class="mail-icon"
				src="../../../assets/images/mail.png"
				alt="Email"
		/></a>
		<p class="copyright">&copy; ИТМО,2023-24</p>
	</div>
</footer>
