<header class="header">
	<div>
		<img
			class="location-icon"
			src="../../../assets/images/location.svg"
		/>
		Санкт-Петербург
	</div>
	<nav class="navigation">
		<ul>
			<li
				routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: true }"
			>
				<a routerLink="/about">О проекте</a>
			</li>
			<li
				[class.active]="isActiveMenu('home')"
				routerLinkActive="active"
			>
				<a routerLink="/emotion-factor">Карта эмоций Петербурга</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="/survey">Маркеры социального самочувствия</a>
			</li>
			<li
				routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: true }"
			>
				<a routerLink="/publications">Публикации</a>
			</li>
			<li
				routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: true }"
			>
				<a routerLink="/team">Команда проекта</a>
			</li>
		</ul>
	</nav>
	<div class="logo">
		<a
			href="https://news.egov.itmo.ru/"
			target="_blank"
			class="image__dept"
		>
			<img
				src="../../../assets/images/logo_dept.png"
				alt="Logo"
			/>
		</a>
		<a
			href="https://news.egov.itmo.ru/"
			target="_blank"
			class="image__uni"
		>
			<img
				src="../../../assets/images/logo_uni.png"
				alt="Logo"
			/>
		</a>
	</div>
</header>
