.header {
	position: fixed;
	top: 0;
	z-index: 120;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
	background-color: #f3f4f5;
}

.logo {
	display: flex;
	height: 60px;
}

.image__dept img {
	position: relative;
	transform: translate(40px);
	top: 2px;
	right: 6px;
	height: 60px;
}

.image__uni img {
	position: relative;
	transform: translate(40px);
	right: 28px;
	height: 60px;
}

.navigation ul {
	list-style: none;
	padding: 0;
	display: flex;
}

.navigation li {
	margin: 0 20px;
}

.navigation a {
	text-decoration: none;
	color: #333;
	font-size: 14px;
}

.active {
	font-weight: bold;
	scale: 1.04;
}

.location-icon {
	width: 35px;
}
