<section class="about">
	<h1 class="title">
		Прогнозирование социального самочувствия с целью оптимизации
		функционирования экосистемы городских цифровых сервисов Санкт-Петербурга
	</h1>
	<p class="text">
		Проект направлен на выявление факторов, способствующих формированию
		социальной устойчивости в регионе. Цель проекта заключается в поиске
		взаимосвязи эмоционального благополучия горожан, социального настроения и
		развития реального социокультурного пространства в многообразии форм его
		проявления в повседневных практиках индивидов.
	</p>
	<p class="text">
		Предлагаемый метод основан на оценке самочувствия горожан внутри
		повседневного [социального] маршрута (совершающегося в районах проживания,
		отдыха и работы). Взаимодействия внутри социальных микро- и макрогрупп
		(уровень района и уровень города) во много определяются тем, в каком
		эмоциональном состоянии находятся участники коммуникаций на индивидуальном
		уровне. И, соответственно, индивидуальные настроения индивидов, достаточно
		быстро складываясь в коллективное эмоциональное поле, влияют на развитие
		городской среды, определяя уровень активности горожан в формировании
		комфортного социального пространства через систему коммуникативных
		взаимодействий (друг с другом и с городскими службами). Следовательно,
		анализ социального самочувствия может помочь в построении мотивационных
		моделей, нацеленных на повышения уровня активности взаимодействия между
		жителями и городом.
	</p>
	<p class="text">
		Базовая гипотеза состоит в том, что ведущие к стагнации региона суждения
		социальных групп возникают на основании социального самочувствия горожан
		(которое часто развивается на фоне ряда факторов, например, негативного
		взаимодействия с государственными органами, другими жителями района/региона
		или каких-либо других причин, которые могут быть ощутимыми на уровне
		отдельно взятого индивида). Предполагается, что поиск корреляций между
		реальными событиями, привязанными к городским локациям (выборы, ремонты,
		создание или удаление парков, открытие школ и детских садов, уровень
		медицинского обслуживания в конкретном районе и т.п.) и индивидуальным
		восприятием района жителями города может дать возможность скорректировать
		социальное самочувствие.
	</p>
	<p class="text">
		Научная новизна выражена в комплексном исследовании, в котором упор делается
		на синергии классических социологических методов и сбора данных из
		социальных и новых медиа и их последующего анализа методами nlp и машинного
		обучения. Для реализации задач проекта планируется соединение методов
		социальных и компьютерных наук, что позволит реализовать наблюдения за
		перерождениями эмоциональных взаимодействий индивидов в социальные явления
		более высокого уровня. Предлагаемый к использованию метод предполагает сбор
		и анализ данных из интернета, что означает получение информации о латентно
		существующих субъективных суждениях. Сопоставление двух полученных вариантов
		субъективных суждений (опрос и данные из социальных сетей) даст возможность
		подойти комплексно к анализу социального самочувствия горожан, избежать
		смещения информации и построить правильные мотивационные модели для
		включения жителей региона к активному участию в оптимизации социального
		пространства региона.
	</p>
	<p class="text">
		Практическая значимость исследования заключается в направленности
		предлагаемого проекта на задачи развития Экосистемы городских сервисов
		«Цифровой Петербург», создаваемой Санкт-Петербургским
		информационно-аналитическим центром (СПб ГУП «СПб ИАЦ») в соответствии с
		Планом мероприятий по реализации стратегии цифровой трансформации отраслей
		экономики, социальной сферы и государственного управления Санкт-Петербурга
		(одобрен на расширенном заседании президиума Совета по стратегическому
		развитию и проектной деятельности в Санкт-Петербурге, протокол №6 от
		25.08.2021). В частности, будет разработан и опробован сервис картирования
		социального самочувствия городского населения. В основе планируемого сервиса
		лежит сбор и использование неструктурированных и структурированных данных,
		отражающих жизнедеятельность горожан и темпоритм развития региона, а также
		применение математического аппарата при сопоставлении данных, полученных
		социологическим путем с данными, собранными из интернета.
	</p>
</section>
