<section class="about">
	<h1 class="title">
		Прогнозирование социального самочувствия с целью оптимизации
		функционирования экосистемы городских цифровых сервисов Санкт-Петербурга
	</h1>
	<p class="text">
		Проект «Прогнозирование социального самочувствия с целью оптимизации
		функционирования экосистемы городских цифровых сервисов Санкт-Петербурга»
		(23-28-10069) был выполнен при поддержке Российского научного фонда и
		Санкт-Петербургского научного фонда.
	</p>
	<p class="text">
		Нашей основной целью являлась разработка методологии, при которой можно
		сопоставлять данные о социальном настроении и маркеры социального
		самочувствия. Это требуется для того, чтобы мочь ответить на вопрос, могут
		ли социальные и культурные практики, проживаемые в городском пространстве,
		стать основой для устойчивого и гармоничного развития региона.
	</p>
	<p class="text">
		Итак, мы занимались выявлением скрытых связей между самочувствием горожан и
		тем, как они взаимодействуют с городом и его сервисами. Поэтому мы
		исследовали и сопоставляли текстовые данные, собранные в социальных сетях с
		привязкой к районам Санкт-Петербурга, и мнения жителей города, собранные с
		помощью опросов, чтобы создать «эмоциональную карту» города.
	</p>
	<p class="text">
		На этом сайте вы найдете размеченные карты города с разделением на маркеры
		социального самочувствия, а также социальные сферы с их соотнесением c
		эмоциямb, которые испытывают горожане.
	</p>
	<p class="text">
		Если вы исследователи или разработчики, вам будет полезен репозиторий
		проекта, где в открытом доступе находятся собранные датасеты, а также модули
		для сбора и обработки данных.
	</p>
	<p class="text">
		Разработанная нами методология отражена в публикациях, основные из них можно
		найти
		<a
			href="/publications"
			class="link-to-publications"
			>в соответствующем разделе</a
		>.
	</p>
</section>
