<section class="publications">
  <h2 class="title">Список научных публикаций по проекту</h2>
  <ol class="publications-list">
    @for (publication of publications; track publication) {
      <li class="item">
        <span
          >{{ publication.author }} <strong>{{ publication.title }}</strong>
          {{ publication.conference }}, - (год публикации -
          {{ publication.year }})
        </span>
        @if (publication.link) {
          <a
            href="{{ publication.link }}"
            target="_blank"
            class="publication-link"
            >{{ publication.link }}</a
            >
          }
        </li>
      }
    </ol>
  </section>
