.publications {
	margin: auto;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	padding-top: 80px;
}

.title {
	margin: 20px 40px 40px 20px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.publications-list {
	margin: auto;
	max-width: 1200px;
  padding: 0 40px;
	line-height: 1.2;
	list-style-type: decimal;
}

.item {
  margin-bottom: 12px;
}

.item:last-child {
  margin-bottom: 80px;
}

.publications-list li strong {
  font-weight: bold;
}
